.login-form{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-direction: column;
    align-items: center;
}

input {
    margin: 5px;
}

.register-form{
    max-width: 500px;
    padding: 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-direction: column;
    align-items: center;
}

.qrcode {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.qrcode--button {
    width: 50%;
}

.highlight {
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}

.user-view {
    width: 50%;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.error-message {
    width: 50%;
    margin: 5px;
}